<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "META-INF/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.out"/>
      <param name="Threshold" value="debug"/>

      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="[%d] [%p,%c:%L] %m%n"/>
      </layout>
   </appender>

   <appender name="FILE" class="org.apache.log4j.FileAppender">
      <param name="File" value="./logs/msgcore.log"/>
      <param name="Threshold" value="debug"/>
      <param name="Append" value="false"/>

      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="[%d] [%p,%c:%L] %m%n"/>
      </layout>
   </appender>

   <appender name="DUPLICATE" class="org.apache.log4j.RollingFileAppender">
      <param name="File" value="./logs/dupcheck.log"/>
      <param name="MaxFileSize" value="500KB" />
      <param name="MaxBackupIndex" value="1"/>
      <param name="Threshold" value="debug"/>
      <param name="Append" value="true"/>

      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="[%d] [%p,%c:%L] %m%n"/>
      </layout>
   </appender>

   <appender name="RFCINFO" class="org.apache.log4j.RollingFileAppender">
      <param name="File" value="./logs/rfcinfo.log"/>
      <param name="MaxFileSize" value="1MB" />
      <param name="MaxBackupIndex" value="1"/>
      <param name="Threshold" value="debug"/>
      <param name="Append" value="true"/>

      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="[%d] [%p,%c:%L] %m%n"/>
      </layout>
   </appender>

   <logger name="org.springframework">
	  <level value="info"/> 
   </logger>

   <logger name="org.apache">
	  <level value="info"/> 
   </logger>

   <logger name="com.es">
	  <level value="debug"/>
   </logger>

   <logger name="message.report.duplicate" additivity="false">
	  <level value="debug"/>
	   <appender-ref ref="DUPLICATE"/>
   </logger>

   <logger name="message.report.rfc" additivity="false">
	  <level value="debug"/>
	   <appender-ref ref="RFCINFO"/>
   </logger>

   <root>
      <priority value ="debug" /> 
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="FILE"/>
   </root>
</log4j:configuration>
